body, html {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.75fr 1fr 1fr 1fr;
    border: none;
    margin-left: 150px;
    height: 100vh;
    width: 80vw;
}

.sidebar {
    grid-row: 1 / 5;
    border: 1px solid white;
    padding: 20px;
    font-size: 20px;
    font-weight: 900;
    background-color: rgb(119, 119, 217);
    color: white;
}

.social {
    display: grid;
    gap: 20px;
    margin-bottom: 50px;
}

.technical {
    display: grid;
    gap: 20px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(197, 184, 184);
}

.header-top{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}

input {
    position: relative;
    height: 30px;
    border: none;
    border-radius: 120px;
    width: 30vw;
}

button {
    margin: 20px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(33, 33, 173);
    font-weight: 600;
    color: white;
}
